.wrapper {
  width: 100%;

  height: auto;

  min-height: 100vh;

  padding: 50px 20px;

  padding-top: 100px;

  display: flex;
  background-size: 600% 100% !important;

  background: linear-gradient(135deg,#FF7800,#EC9CD3,#B4FE98,#84DFFF,#FFE400,#DD4A48);
  animation: gradient 12s linear infinite;
animation-direction: alternate;

}

@keyframes gradient {
0% {background-position: 0}
100% {background-position: 100%}
}

body {
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
